[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
graphviz = "*"
jsonlines = "*"
librosa = "*"
matplotlib = "*"
mido = "*"
numpy = "*"
pyheaven = "*"
seaborn = "*"
torch = "*"
torchaudio = ">=0.10.1"
tqdm = "*"
wandb = "*"
werkzeug = "*"
send2trash = "*"
pytorch-lightning = "*"
lightning-bolts = "*"

[dev-packages]

[requires]
python_version = "3.11"
